.mop-btn-std {
    width: 64px;
    height: 64px;
    text-transform: none;
}
.mop-btn-special {
    width: 80px;
    height: 64px;
}
.mop-btn-special-large {
    width: 96px;
    height: 64px;
}
.mop-btn-special-xlarge {
    width: 400px;
    height: 64px;
}
.mop-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.mop-keyboard-container {
    padding: 8px;
    
}