<ion-tabs #myTabs tabbarLayout="icon-start" tabbarHighlight="true">
  <ion-tab label="Browse" icon="book" href="/tabs/(browse:browse)">
    <ion-router-outlet name="browse"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Search" icon="search" href="/tabs/(search:search)">
    <ion-router-outlet name="search"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Now playing" icon="musical-notes" href="/tabs/(now-playing:now-playing)">
    <ion-router-outlet name="now-playing"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Queue" icon="browsers" href="/tabs/(queue:queue)">
    <ion-router-outlet name="queue"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Settings" icon="cog" href="/tabs/(settings:settings)">
    <ion-router-outlet name="settings"></ion-router-outlet>
  </ion-tab>
</ion-tabs>
