.mop-search-box {
    padding-top: 5px;
}
.mop-search-input {
    zoom: 1.2;
    border: 1px solid var(--ion-primary);
    color: var(--ion-dark);
    font-size: 18px;
    padding-left: 5px;
    padding-right: 5px;
}