<ion-header>
  <ion-toolbar>
    <ion-title>search-modal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="mop-search-box" lines="none">
    <ion-input class="mop-search-input" (keyup)="keyUp($event)" [(value)]="query" type="text" placeholder="Search artists, albums, tracks, streams"
      clearInput #queryInput>
    </ion-input>
  </ion-item>
  <keyboard (keyPressed)="keyPressed($event)" (bkspPressed)="backspace()" (searchPressed)="search()"></keyboard>
</ion-content>
